@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}

/* En tu archivo CSS global o en un módulo CSS para el componente */

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 2.5s linear infinite;
}

html {
  scroll-behavior: smooth;
}

/* Estilos generales del scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Ancho del scrollbar */
}

/* Estilo del track (la parte por donde se desliza el thumb) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

/* Estilo del thumb (la parte que se mueve del scrollbar) */
::-webkit-scrollbar-thumb {
  background: gray; /* Color de fondo del thumb */
}

/* Estilo del thumb al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de fondo del thumb al pasar el ratón por encima */
}

/* Estilos para Firefox */
* {
  scrollbar-width: thin; /* 'auto' o 'thin' */
  scrollbar-color: black #f1f1f1; /* color del thumb y color del track */
}


*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}